{% extends 'base.html' %}

{% block content %}
<div class="row">
   
{% for item in items %}
<div class="col-sm-4 py-2">
        <div class="card h-100">
            <img class="card-img-top" height="55%" src="{{item.image.url}}" alt="Card image cap">
            <div class="card-body bg-light">
                <h3 class="card-title">{{item.name}}</h3>
                <a href="{% url 'item-detail' item.id %}" class="btn btn-outline-dark">More</a>
                <button class="btn btn-light"><i id="fav-{{item.id}}" onClick="fav({{item.id}})" class="fas fa-star {% if item in items_fav %}text-warning{% endif %}"></i></button>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<script>
  function fav(id) {
    var star_id = "#fav-"+id;

    $.ajax(
        {
            type:'GET',
            url: "/items/"+id+"/favorite/",
            error: function(){
                alert('Error');
            },
            success: function(data){
                console.log(data) 
                if(data.action === "fav"){
                  $(star_id).addClass('text-warning');
                }

                else{
                  $(star_id).removeClass('text-warning');
                }
            },
        }
    );
}

</script>

{% endblock%}